.img-box {
  position: relative;
  height: 40vh;
  width: 10vw;
  .seller {
    position: absolute;
    top: 0;
    left: -80%;
  }
  .percentage {
    position: absolute;
    bottom: 5%;
    right: -50%;
  }
}
